---
layout: default
---
<div id="ww">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="{{ "/assets/img/user.png" | prepend: site.baseurl }}" alt="Stanley">
        <h1 class="name">Anjar Febrianto</h1>
        <p>Husband/ Programmer / ProGamer</p>
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->

<style>

</style>
<!-- +++++ Article Section +++++ -->
<div id="ba" class="row">
      <div class="col-xs-12 bp bp-container">
          <a href="/journal" class="bp-box col-sm-3 bp-title">
              <div class="bp-box-head">
                  <div class="bp-box-title">Blog Post</div>
                  <div class="bp-box-subTitle">Read my Journal</div>
              </div>
          </a>
          {% for post in site.posts %}

            <a href="{{ post.url | prepend: site.baseurl }}" class="bp-box col-sm-3" style="background-image: url('{{ post.image | preped: site.baseurl }}');background-size:cover;">

              {% if post.image %}
              <div id="overlay">
                <div class="bp-box-title">{{ post.title }}</div>
                <div class="bp-box-subTitle">{{ post.date | date: "%b %-d, %Y" }}</div>
              </div>
              {% else %}
              <div class="bp-box-head">
                  <div class="bp-box-title">{{ post.title }}</div>
                  <div class="bp-box-subTitle">{{ post.date | date: "%b %-d, %Y" }}</div>
              </div>
              {% endif %}
          </a>
          {% endfor %}
          <div class="loadmore"></div>
      </div>
  </div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
