<div id="ft">
    <div class="container">
      <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          {% if site.fb_username %}
            <a href="http://www.facebook.com/{{ site.fb_username }}" target="_blank" rel="nofollow"><i class="ion-social-facebook"></i></a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="nofollow"><i class="ion-social-twitter"></i></a>
          {% endif %}

          {% if site.instagram_username %}
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" rel="nofollow"><i class="ion-social-instagram"></i></a>
          {% endif %}

          {% if site.linkedin_url %}
            <a href="{{ site.linkedin_url }}" target="_blank" rel="nofollow"><i class="ion-social-linkedin"></i></a>
          {% endif %}

          {% if site.gplus_url %}
            <a href="{{ site.gplus_url }}" target="_blank" rel="nofollow"><i class="ion-social-googleplus"></i></a>
          {% endif %}

          {% if site.youtube_channel %}
            <a href="{{ site.youtube_channel }}" target="_blank" rel="nofollow"><i class="ion-social-youtube"></i></a>
          {% endif %}
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="nofollow"><i class="ion-social-github"></i></a>
          {% endif %}

        </div><!--/col-md-8-->
      </div>
    </div><!--/container-->
  </div>
  <a href="https://github.com/{{ site.github_username }}"><img style="position: absolute; top: 0; right: 0; border: 0;z-index:9999;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
