<div id="ft">
    <div class="container">
      <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          {% if site.fb_username %}
            <a href="http://www.facebook.com/{{ site.fb_username }}" target="_blank" rel="nofollow"><i class="ion-social-facebook"></i></a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="nofollow"><i class="ion-social-twitter"></i></a>
          {% endif %}

          {% if site.instagram_username %}
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" rel="nofollow"><i class="ion-social-instagram"></i></a>
          {% endif %}

          {% if site.linkedin_url %}
            <a href="{{ site.linkedin_url }}" target="_blank" rel="nofollow"><i class="ion-social-linkedin"></i></a>
          {% endif %}

          {% if site.gplus_url %}
            <a href="{{ site.gplus_url }}" target="_blank" rel="nofollow"><i class="ion-social-googleplus"></i></a>
          {% endif %}

          {% if site.youtube_channel %}
            <a href="{{ site.youtube_channel }}" target="_blank" rel="nofollow"><i class="ion-social-youtube"></i></a>
          {% endif %}
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="nofollow"><i class="ion-social-github"></i></a>
          {% endif %}

        </div><!--/col-md-8-->
      </div>
    </div><!--/container-->
  </div>
