<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="alexaVerifyID" content="Be0gS11bD75U_SRupS7KCssy0ak" />
  <meta name="msvalidate.01" content="6AABB26044F0EE096F518A5CD596ED7A" />
  <meta name="google-site-verification" content="nwiUp8Uh4N1OWCDnNyrSpGOo3Ac4290sFuD-O9y5y6M" />


  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="anxfeb">
  <meta name="keywords" content="{% if page.keyword %}{{ page.keyword }}{% else %}{{ site.keyword }}{% endif %}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/static/img/khanza.jpg">
  <meta property="og:site_name" content="anxfeb">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="author" href="https://plus.google.com/u/0/107434840739518972501"/>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/assets/css/ionicons.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" | prepend: site.baseurl }}" /> -->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
</head>
