<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="af-container">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.11.2.min.js"><\/script>')</script>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <script src="{{  '/assets/js/bootstrap.min.js' }}"></script>

    <script src="{{ '/assets/js/hover.zoom.js' }}"></script>
    <script src="{{ '/assets/js/hover.zoom.conf.js' }}"></script>
    <script src="{{ '/assets/js/app.js' }}"></script>


  
</html>
